#menu ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 1%;
    padding-top: 20px;
  }
  
  #menu li {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  a {
    color: #fcfaf8;
  }
  
  #menu li:hover {
    color: black;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
    background-color: white;
  }
  
  nav h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
  }
  
  nav h2:hover {
    color: rgb(248, 245, 245);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    padding-right: 1%;
    padding-left: 1%;
    width: 100%;
    height: 80px; /* Adjusted banner height */
    background-color: rgb(255, 140, 0);
    margin-top: 0px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  nav h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  #header {
    height: 100%;
  }
  
  #main h2 {
    padding: 2px;
    padding-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 100%;
    font-size: 2em;
    overflow: auto;
    text-align: center;
  }
  
  #main h3 {
    font-size: 2em;
  }
  
  #main p {
    padding: 2px;
    padding-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 100%;
    font-size: 1.5em;
  }
  
  #main {
    padding-left: 2%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 100%;
    margin-top: 10px;
  }
  
  .section1 {
    margin-right: 2%;
  }
  
  .section2 {
    margin-right: 2%;
  }
  
  .section3 {
    margin-right: 2%;
  }
  
  .section4 {
    margin-right: 2%;
  }
  
  .section4 {
    height: 100px;
  }
  
  img {
    width: 100%;
    height: 250px; /* Adjusted image height */
    object-fit: cover;
    padding: 15px;
  }
  
  .section5 {
    margin-right: 2%;
  }
  
  .section6 {
    margin-right: 2%;
  }
  
  .section7 {
    margin-right: 2%;
  }
  
  .section8 {
    margin-right: 2%;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .box {
    border: 2 px solid brown;
    padding: 4px;
    margin-bottom: 10px; /* Adjusted box margin */
    height: auto; /* Adjusted box height */
    width: 30%; /* Adjusted box width */
    flex: 1 1 auto;
    border-radius: 5px;
    background: white;
  }
  
  .image-container {
    display: flex;
    border: 3px solid white;
    padding: 5px;
    margin: 2%;
    flex-wrap: nowrap;
    flex: 1 1 50%;
    border-radius: 2%;
  }
  
  p .image-container {
    overflow: auto;
  }
  
  .section7 {
    margin-right: 2%;
  }
  
  .section8 {
    margin-right: 2%;
  }
  
  header h2 {
    text-align: center;
    padding-top: 0;
  }
  
  header {
    background-image: url(../img/orangeback.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 600px;
    padding: 0.5%;
  }
  
  #textbox {
    padding: 340px 20px 20px 20px;
    margin-left: 7%;
    font-size: 50px;
    color: whitesmoke;
    overflow: auto;
  }
  
  #seeallbtn {
    background-color: whitesmoke;
    border: none;
    color: rgb(255, 140, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 20%;
    height: 40%;
  }
  
  #seeallbtn :hover {
    color: black;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
  }
  
  #seeallbtn:hover {
    background-color: #faaa6d;
  }
  
  .rating {
    position: absolute;
    top: 165%;
    left: 6%;
    transform: translate(-50%, -50%);
  }
  
  .checked {
    color: orange;
  }
  
  .image-container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-70%, -40%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image-container:hover .image {
    opacity: 0.2;
  }
  
  .image-container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
  }
  
  .images {
    display: flex;
    justify-content: space-between;
  }
  
  .images img {
    border-radius: 50%;
    width: 200px; /* Adjusted image width */
    height: 200px; /* Adjusted image height */
    object-fit: cover;
    margin-right: 2%;
    margin-left: 0%;
    padding-left: 0%;
    transition: transform 0.3s ease 0s;
  }
  
  #footer {
    background-color: rgb(249, 131, 63);
    color: #fff;
    padding: 0;
    text-align: center;
    width: 100%;
    overflow: auto;
    padding: 20px 20px 20px 20px;
  }
  
  #footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }
  
  #owned {
    float: middle;
  }
  
  #owned img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  figcaption {
    display: block;
    text-align: center;
  }
  
  a {
    text-align: left;
  }
  
  html,
  body {
    background-color: #f8ddc1;
    width: 100%;
    margin: 0;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #about {
    border: 3px solid #fa9213;
    border-radius: 1em;
  }
  
  #icon {
    float: left;
    height: 8%;
    width: 8%;
    border-radius: 40%;
  }
  
  footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footerNav ul li a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1em;
    font-family: "Suez One", serif;
    font-weight: 300;
    font-style: normal;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footerNav ul li a:hover {
    opacity: 1;
  }
  
  .footerBottom {
    padding: 10px;
    text-align: center;
  }
  
  .footerBottom p {
    color: white;
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
  }
  
  .footerBottom p a[href^="mailto:"] {
    color: white;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    /* Navigation Menu */
    nav {
      height: auto;
    }
  
    nav h2 {
      font-size: 30px;
    }
  
    /* Main Content */
    #main h2 {
      font-size: 1.5em;
      text-align: left;
    }
  
    #main h3 {
      font-size: 1.5em;
    }
  
    #main p {
      font-size: 1.2em;
    }
  
    .container {
      flex-wrap: wrap;
    }
  
    .box {
      flex: 1 1 100%;
      height: auto;
    }
  
    .image-container {
      flex: 1 1 100%;
    }
  
    .images img {
      width: 100%;
      height: auto;
    }
  
 
    header {
      height: 400px;
    }
  
    #textbox {
      padding: 200px 20px 20px 20px;
      margin-left: 0;
      font-size: 30px;
    }
  
    #seeallbtn {
      width: 50%;
      height: auto;
    }
  
    /* Footer */
    .footerNav ul li a {
      font-size: 0.8em;
    }
  
    .footerBottom p {
      font-size: 0.8em;
    }
  }
  